<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsColony :: head">
    <meta charset="UTF-8"/>
    <title>Add Entry</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body class="container  body-content">
    <nav th:replace="fragmentsColony :: page-header"></nav>

    <h1>Add Animal</h1>

    <form method="post">
        <div class="form-group">
            <label>
                Tag
                <input class="form-control" th:field="${animal.tag}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Cage Number
                <input class="form-control" th:field="${animal.cageNumber}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Type
                <input class="form-control" th:field="${animal.cageType}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Sex
                <input class="form-control" th:field="${animal.sex}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Date of Birth
                <input type="date" class="form-control" th:field="${animal.dateOfBirth}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Genotype
                <input class="form-control" th:field="${animal.genotype}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Litter
                <input class="form-control" th:field="${animal.litter}">
            </label>
        </div>
        <div class="form-group">
            <label>
                Notes
                <input class="form-control" th:field="${animal.notes}">
            </label>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Add Entry">
        </div>
    </form>

</body>
</html>