<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    <nav th:replace="fragments :: colony-header-fragment"></nav>
<div class="container  body-content">
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Cage Number</th>
                <th>Type</th>
                <th>Sex</th>
                <th>Date of Birth</th>
                <th>Genotype</th>
                <th>Litter</th>
                <th>Notes</th>
                <th>Delete?</th>
            </tr>
            </thead>

            <tr th:each="animal : ${animals}">
                <td th:text="${animal.id}"></td>
                <td th:text="${animal.tag}">Tag</td>
                <td th:text="${animal.cageNumber}">Tag</td>
                <td th:text="${animal.cageType}">Tag</td>
                <td th:text="${animal.sex}">Tag</td>
                <td th:text="${animal.dateOfBirth}">Tag</td>
                <td th:text="${animal.genotype.name}">Tag</td>
                <td th:text="${animal.litter}">Tag</td>
                <td th:text="${animal.notes}">Tag</td>
                <td>
                    <input type="checkbox" name="animalIds" th:value="${animal.id}">
                </td>
            </tr>
        </table>
        <input class="btn btn-danger" type="submit" value="Confirm Delete">
    </form>
</div>
</body>
</html>