<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsColony :: head">
    <meta charset="UTF-8"/>
    <title>Animal Colony</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div th:replace="fragmentsColony :: page-header"></div>

    <div class="container body-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a>ID</a></th>
                <th><a th:href="@{/colony/tag}">Tag</a></th>
                <th><a th:href="@{/colony/cagenumber}">Cage Number</a></th>
                <th><a th:href="@{/colony/type}">Type</a></th>
                <th><a th:href="@{/colony/sex}">Sex</a></th>
                <th><a th:href="@{/colony/dateofbirth}">Date of Birth</a></th>
                <th><a th:href="@{/colony/dateopened}">Date Opened</a></th>
                <th><a th:href="@{/colony/genotype1}">Genotype One</a></th>
                <th><a th:href="@{/colony/genotype2}">Genotype Two</a></th>
                <th><a th:href="@{/colony/litter}">Litter</a></th>
                <th>Notes</th>
                <th></th>
            </tr>
            </thead>

            <tr th:each="animal : ${animals}">
                <td th:text="${animal.id}"></td>
                <td th:text="${animal.tag}">Tag</td>
                <td th:text="${animal.cageNumber}">Tag</td>
                <td th:text="${animal.cageType}">Tag</td>
                <td th:text="${animal.sex}">Tag</td>
                <td th:text="${animal.dateOfBirth}">Tag</td>
                <td th:text="${animal.dateOpened}">Tag</td>
                <td th:text="${animal.genotypeOne}">Tag</td>
                <td th:text="${animal.genotypeTwo}">Tag</td>
                <td th:text="${animal.litter}">Tag</td>
                <td th:text="${animal.notes}">Tag</td>
                <td>
                    <a th:href="@{/colony/edit/{id}(id=${animal.id})}">Edit</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>