<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Animal Colony</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Tag</th>
        <th>Cage Number</th>
        <th>Type</th>
        <th>Sex</th>
        <th>Date of Birth</th>
        <th>Date Opened</th>
        <th>Genotype One</th>
        <th>Genotype Two</th>
        <th>Litter</th>
        <th>Notes</th>
    </tr>
    </thead>



</table>

</body>
</html>