<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragmentsHome :: head">
        <meta charset="UTF-8"/>
        <title th:text="${user.username}">User</title>
    </head>
    <body>
        <div th:replace="fragmentsHome :: page-header"></div>
        <div class="container body-content">
            <h2>Edit Your Account Info</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <form action="/user/edit" method="post">
                            <div class="form-group">
                                <label>
                                    First Name:
                                    <input class="form-control" th:field="${user.firstName}"/>
                                    <span th:errors="${editFormDTO.firstName}" class="error"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Last Name:
                                    <input class="form-control" th:field="${user.lastName}"/>
                                    <span th:errors="${editFormDTO.lastName}" class="error"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Email:
                                    <input class="form-control" th:field="${user.email}"/>
                                    <span th:errors="${editFormDTO.email}" class="error"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Affiliated Laboratory:
                                    <input class="form-control" th:field="${user.lab}"/>
                                    <span th:errors="${editFormDTO.lab}" class="error"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Please Confirm Your Password:
                                    <input class="form-control" th:field="${editFormDTO.password}" type="password"/>
                                    <span th:errors="${editFormDTO.password}" class="error"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" aria-pressed="true">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-5">
                        <div class="card-header"><h5>Change Username</h5></div>
                        <div class="card-body">
                            <a>Change your username <a th:href="@{/user/username}">here</a>.</a>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header"><h5>Reset Password</h5></div>
                        <div class="card-body">
                            <a>Change your password <a th:href="@{/user/password}">here</a>.</a>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header"><h5>Account Removal</h5></div>
                        <div class="card-body">
                            <p>Permanently delete your account <a th:href="@{/user/delete}">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>