<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${user.username}">User</title>
    </head>
    <body>
        <div th:replace="fragments :: home-header-fragment"></div>
        <div class="container body-content">
            <h2>Change Your Password</h2>
            <form action="/user/password" method="post">
                <div class="form-group">
                    <label>
                        Current Password:
                        <input class="form-control" th:field="${pwFormDTO.password}" type="password"/>
                        <span th:errors="${pwFormDTO.password}" class="error"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        New Password:
                        <input class="form-control" th:field="${pwFormDTO.newPassword}" type="password"/>
                        <span th:errors="${pwFormDTO.newPassword}" class="error"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Confirm New Password:
                        <input class="form-control" th:field="${pwFormDTO.verifyNewPassword}" type="password"/>
                        <span th:errors="${pwFormDTO.verifyNewPassword}" class="error"></span>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" aria-pressed="true">Save New Password</button>
                </div>
            </form>
        </div>
    </body>
</html>