<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsColony :: head">
    <meta charset="UTF-8"/>
    <title>Add Genotype</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body class="container  body-content">
<nav th:replace="fragmentsColony :: page-header"></nav>

<form method="post">
    <div class="form-group">
        <label>
            Genotype
            <input class="form-control" th:field="${genotype.name}">
            <span th:errors="${genotype.name}" class="error"></span>
        </label>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Add Entry">
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Genotypes</th>
    </tr>
    </thead>

    <tr th:each="genotype : ${genotypes}" th:if="${genotype.name != ''}">
        <td th:text="${genotype.name}"></td>
    </tr>
</table>

</body>
</html>