<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsColony :: head">
    <meta charset="UTF-8"/>
    <title>Lab Genotypes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragmentsColony :: page-header"></div>
<div class="navbar-header">
    <ul class="nav navbar-nav">
        <li><a th:href="@{/colony/genotype/add}">Add Genotype</a></li>
    </ul>
</div>

<div class="container body-content">
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Genotypes</th>
                <th>Delete?</th>
            </tr>
            </thead>

            <tr th:each="genotype : ${genotype}">
                <td th:text="${genotype.name}"></td>
                <td>
                    <input type="checkbox" th:value="${genotype.id}" name="genotypeIds">
                </td>
            </tr>
        </table>

        <input class="btn btn-danger" type="submit" value="Confirm Delete">

    </form>
</div>

</body>
</html>