<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
    </head>
    <body>

        <div th:replace="fragments :: home-header-fragment"></div>

        <div class="container body-content">
            <h2>LABrador Lab Management Solutions</h2>
            <div>
                <h5 th:text="'Welcome, '+ ${user.firstName} + ' ' + ${user.lastName} + '! View your:'">Welcome, Username!  View your:</h5>
                <ul>
                    <li><a th:href="@{/lab}">Add Your Lab!</a></li>
                    <li><a th:href="@{/colony}">Animal Database</a></li>
                    <li><a>Chemical Inventory</a></li>
                    <li><a>Protocols</a></li>
                    <li><a>Lab Communications</a></li>
                </ul>
            </div>

        </div>
    </body>
</html>