<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
    </head>
    <body>

        <div th:replace="fragments :: home-header-fragment"></div>

        <div class="container body-content">
            <h2>LABrador Lab Management Solutions</h2>
            <div>
                <h5 th:text="'Welcome, '+ ${user.firstName} + ' ' + ${user.lastName} + '!'">Welcome!</h5>
<!--                <ul>-->
<!--                    <li><a th:href="@{/lab}">Add Your Lab!</a></li>-->
<!--                    <li><a th:href="@{/colony}">Animal Database</a></li>-->
<!--                    <li><a>Chemical Inventory</a></li>-->
<!--                    <li><a>Protocols</a></li>-->
<!--                    <li><a>Lab Communications</a></li>-->
<!--                </ul>-->
                <div class="form-group">
                    <label>
                        New to LABrador? Find a Lab!
                        <select class="form-control" th:field="${lab}">
                            <option th:each="lab : ${lab}"
                                    th:value="${lab.id}"
                                    th:text="${lab.labName}">
                            </option>
                        </select>
                    </label>
                </div>
            </div>

        </div>
    </body>
</html>