<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsHome :: head">
</head>
<body>

<div th:replace="fragmentsLogin :: page-header"></div>
<div class="container body-content">
    <div>
        <p>Need an account? <a href="/register">Register here.</a></p>
    </div>

    <form method="post">
        <div>
            <label>Username:</label>
            <input th:field="${loginFormDTO.username}"/>
            <span th:errors="${loginFormDTO.username}" class="error"></span>
        </div>

        <div>
            <label>Password:</label>
            <input th:field="${loginFormDTO.password}" type="password"/>
            <span th:errors="${loginFormDTO.password}" class="error"></span>
        </div>

        <input type="submit" value="Login"/>
    </form>
</div>



</body>
</html>