<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragmentsHome :: head">

        <!-- Bootstrap stylesheets and script -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--  Path to jQuery, Popper, and Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>

        <div th:replace="fragmentsLogin :: page-header"></div>

        <div class="container body-content">
            <form action="/register" method="post">

                <div class="form-group">
                    <label>E-Mail Address:
                        <input class="form-control" th:field="${registerFormDTO.email}"/>
                        <span th:errors="${registerFormDTO.email}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>First Name:
                        <input class="form-control" th:field="${registerFormDTO.firstName}"/>
                        <span th:errors="${registerFormDTO.firstName}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Last Name:
                        <input class="form-control" th:field="${registerFormDTO.lastName}"/>
                        <span th:errors="${registerFormDTO.lastName}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Laboratory:
                        <input class="form-control" th:field="${registerFormDTO.lab}"/>
                        <span th:errors="${registerFormDTO.lab}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Desired Username:
                        <input class="form-control" th:field="${registerFormDTO.username}"/>
                        <span th:errors="${registerFormDTO.username}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Password:
                        <input class="form-control" th:field="${registerFormDTO.password}" type="password"/>
                        <span th:errors="${registerFormDTO.password}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Verify Password:
                        <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
                        <span th:errors="${registerFormDTO.verifyPassword}" class="error"></span>
                    </label>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit" aria-pressed="true">Register</button>
                </div>
            </form>
        </div>


    </body>
</html>